:root {
  --primary-color: #7dd56f;
  --secondary-color: #28b487;
  --accent-color: #55c57a;
  --text-color: #777;
  --background-color: #f7f7f7;
  --error-color: #eb4d4b;
}

::-moz-selection {
  background-color: var(--error-color);
  color: #fff;
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}

/* Update other CSS rules with the new color scheme */
body {
  color: var(--text-color);
  background-color: var(--background-color);
}

.main {
  background-color: var(--background-color);
}

.alert--success {
  background-color: var(--primary-color);
}

.alert--error {
  background-color: var(--error-color);
}

.heading-secondary {
  background-image: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
}

.btn--white {
  background-color: #fff;
  color: var(--text-color);
}

.btn--green {
  background-color: var(--accent-color);
  color: #fff;
}

.btn--green::after {
  background-color: var(--accent-color);
}

.nav--tours,
.nav--user {
  color: #fff;
}

.side-nav a:link,
.side-nav a:visited {
  color: #fff;
}

.side-nav--active,
.side-nav li:hover {
  border-left: 4px solid var(--primary-color) !important;
}

.side-nav--active a {
  transform: translateX(-3px);
}
